
@{
    ViewBag.Title = "CustomersView";
}

<h2>CustomersView</h2>
<form action="/Home/ListCustomersByCountry" method="get">
    <h3>Country</h3>
    <select name="Country">
        <option value="Germany">Germany</option>
        <option value="France">France</option>
        <option value="USA">USA</option>
    </select>
    <input type="text" name="Country" />
    <input type="submit" value="Search by Country" />
</form>
<br />
<form action="/Home/ListCustomersByCustName" method="get">
    <input type="text" name="custName" />
    <input type="submit" value="Search by Customer Name" />
</form>
<br />
<table class="table">
    <tr><th>CustomerID</th>
    <th>CompanyName</th>
    <th>ContactName</th>
    <th>City</th>
    <th>Country</th></tr>

    @foreach (var CustomerRecord in ViewBag.CustomerList)
    {
        <tr>
            <td>
                @CustomerRecord.CustomerID
            </td>
            <td>
                @CustomerRecord.CompanyName
            </td>
            <td>
                @CustomerRecord.ContactName
            </td>
            <td>
                @CustomerRecord.City
            </td>
            <td>
                @CustomerRecord.Country
            </td>
        </tr>
    }

</table>